/* Body */

body {
    background-color: black;
}


/* Navigation List Styles */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  height: 60px;
  width: 130px;
  line-height: 30px;
  text-align: center;
  font-size: 25px;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: black;
}

.navbar {
  position: absolute;
  top: 28%;
  margin-left: 1645px;
  background-color: grey;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: grey;
  color: white;
}

/* Carousel */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    height: 35%;
    overflow: hidden;
    position: relative;
    .carousel-slide {
    width: 200%;
    display: flex;
    animation: carousel-animation 20s infinite linear;
    & img {
        width: calc(100% / 15);
        height: 100%;
        object-fit: cover;
         }
    }
}

@keyframes carousel-animation {
     from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100%));
    }
}

/* Albums */

.studio-albums p {
    color: white;
    margin-top: 30px;
    margin-left: 70px;
    font-size: 30px;
}

.all-hell {
    margin-top: 35px;
    margin-left: 70px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.all-hell p {
    margin-top: 215px;
    margin-left: -140px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 12px;
}

.sick-scenes {
    margin-top: -199px;
    margin-left: 300px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.sick-scenes p {
    margin-top: 195px;
    margin-left: -155px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
}

.no-blues {
    margin-top: -199px;
    margin-left: 530px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.no-blues p {
    margin-top: 213px;
    margin-left: -145px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 13px;
}

.hello-sadness {
    margin-top: 100px;
    margin-left: 70px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.hello-sadness p {
    margin-top: 213px;
    margin-left: -169px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 13px;
}

.romance-is-boring {
    margin-top: -199px;
    margin-left: 300px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.romance-is-boring p {
    margin-top: 213px;
    margin-left: -198px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 13px;
}

.we-are-beautiful-we-are-doomed {
    margin-top: -200px;
    margin-left: 530px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.we-are-beautiful-we-are-doomed p {
    margin-top: 205px;
    margin-left: -192px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 15px;
}

.hold-on-now-youngster {
    margin-top: 100px;
    margin-left: 300px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.hold-on-now-youngster p {
    margin-top: 205px;
    margin-left: -172px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 16px;
}

.eps-other p {
    color: white;
    margin-top: -875px;
    margin-left: 1100px;
    font-size: 30px;
}

.so-close-to-heaven {
    margin-top: 39px;
    margin-left: 1100px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.so-close-to-heaven p {
    margin-top: 200px;
    margin-left: -199px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 15px;
}

.more-hell {
    margin-top: -200px;
    margin-left: 1330px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.more-hell p {
    margin-top: 205px;
    margin-left: -155px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 16px;
}

.whole-body {
    margin-top: -200px;
    margin-left: 1560px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.whole-body p {
    margin-top: 205px;
    margin-left: -200px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 16px;
}

.christmas {
    margin-top: 100px;
    margin-left: 1100px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.christmas p {
    margin-top: 190px;
    margin-left: -165px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 16px;
}

.fistfight {
    margin-top: -200px;
    margin-left: 1330px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.fistfight p {
    margin-top: 200px;
    margin-left: -169px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 15px;
}

.alls-well-that-ends {
    margin-top: -200px;
    margin-left: 1560px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.alls-well-that-ends p {
    margin-top: 200px;
    margin-left: -155px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 15px;
}

.hold-on-now-youngster-demo {
    margin-top: 150px;
    margin-left: 1220px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.hold-on-now-youngster-demo p {
    margin-top: 200px;
    margin-left: -165px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 16px;
}

.sticking-fingers-into-sockets {
    margin-top: -200px;
    margin-left: 1460px;
    height: 200px;
    width: auto;
    display: block;
    display: flex;
}

.sticking-fingers-into-sockets p {
    margin-top: 200px;
    margin-left: -180px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 15px;
}

.blank p {
    margin-top: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
}