/* HTML Styles */

html {
    background-color: black;
}

/* Body Styles */
body {
    margin: 0;
    padding: 0;
    width: 907.5;
    height: 202.406;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Images */
.container {
    float: left;
    flex: 100%;
    padding: 75px;
    margin-top: -100px;
}

.row {
    display: flex;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container2 {
    float: left;
    flex: 100%;
    padding: 75px;
    margin-top: -600px;
}

.paragraph-one {
    color: white;
    font-size: 30px;
    word-spacing: 5px;
    margin-top: 5px;
}

.row2 {
    display: flex;
}

.row2::after {
    content: "";
    clear: both;
    display: table;
}

.container3 {
    float: left;
    flex: 100%;
    padding: 75px;
    margin-top: -320px;
}

.paragraph-two {
    color: white;
    font-size: 32.5px;
    word-spacing: 5px;
    margin-top: 5px;
}

.container4 {
    width: 750px;
    float: right;
    display: flex;
    padding: 10px;
}

.paragraph-three {
    color: white;
    text-align: center;
    margin: -50px;
    font-size: 30px;
    transform: translate(-1%, 10%);
    word-spacing: 8px;
}

/* Navigation List Styles */

.navbar ul {
    list-style-type: none;
    background-color: rgb(59, 59, 59);
    padding: 0px;
    margin: 0px;
}

.navbar a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: rgb(26, 26, 26);
}

.navbar a:hover {
    background-color: rgb(59, 59, 59);
}

.navbar li {
    float: right;
}